.env
app/controllers/custom/
app/controllers/pagecontroller.php
assets/functions/custom
assets/icons/
assets/view/auth/
assets/view/layout/
assets/view/pages/
assets/view/custom/
assets/view/home.php
assets/view/sitemap.xml
index.php
test.php
assets/css/custom
assets/js/custom
api/database.php