@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
div,
a,
font {
  word-wrap: break-all;
}
button {
  border: none;
  padding: 5px 8px;
  margin: 5px 8px;
}

$white: #ffffff;
$light: rgb(156, 140, 140);

$head-height: 60px;

button,
.fa-solid {
  cursor: pointer;
}
@mixin pad_8 {
  padding: 8px;
  @media only screen and (max-width: 600px) {
    padding: 3px;
  }
}
@mixin box_property {
  box-shadow: 0px 2px 20px #e8edf6;
  background-color: $white;
  transition: all 0.5s;
}
@mixin box_v_center {
  display: flex;
  align-items: center;
}

@mixin pag-btn {
  background-color: rgb(99, 99, 196);
  color: $white;
  border-radius: 6px;
  &:hover {
    background-color: rgb(171, 171, 238);
  }
}

body {
  background-color: #f1f6fc;
}

.container-xs {
  width: 60%;
}
.container-md {
  width: 70%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container-xs,
  .container-md,
  .container-lg {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {
// }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-lg {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container-lg {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-lg {
    width: 80%;
  }
}

.sidebar {
  margin-top: 64px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  width: 250px;
  @include box_property;
  @media only screen and (max-width: 992px) {
    //width: 0;
    left: -250px;
  }
  .side-profile {
    display: block;
    text-align: center;
    padding: 8px;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 1px solid lightgray;
    }
  }
  ul {
    width: 230px;
  }
}

.head-menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  @include box_property;
  .flex {
    .s1 {
      width: 250px;
      height: $head-height;
      //@include box_property;
      @include box_v_center;
      padding: 10px;
      justify-content: center;
      @media only screen and (max-width: 992px) {
        display: none;
      }
      p {
        font-weight: bold;
        a {
          color: #455775;
          &:hover {
            color: #82a5e2;
          }
        }
      }
    }
    .s2 {
      flex: 8;
      .m1 {
        @include box_v_center;
        padding: 10px;
        justify-content: left;
        h3 {
          padding-left: 10px;
        }
      }
      .m2 {
        @include box_v_center;
        padding: 10px;
        justify-content: right;
      }
    }
  }
}

.main {
  transition: margin-left 0.5s;
  margin-left: 250px;
  margin-top: 74px;
  @mixin title_btn {
    background-color: #a5a8b8;
    color: $white;
  }
  @media only screen and (max-width: 992px) {
    margin-left: 0;
  }
  .content {
    @include pad_8();
    @mixin box-common {
      @include pad_8();
      border-radius: 6px;
      margin: auto;
    }

    .notice {
      div {
        flex: 100%;
      }
    }

    .content-home {
      border: 1px solid rgb(228, 218, 209);
      border-left: 4px solid rgb(143, 196, 100);
      border-right: 4px solid rgb(143, 196, 100);
    }

    .content-home-blue {
      border: 1px solid rgb(201, 206, 223);
      border-left: 4px solid rgb(68, 94, 179);
      border-right: 4px solid rgb(68, 94, 179);
    }
    .gird_box {
      display: flex;
      margin: auto;
      padding: 10px 5px;
      flex-wrap: wrap;
      justify-content: center;
      div {
        @include box-common;
        @include box_property;
        @include box_v_center;
        margin: 8px;
        flex: 22%;
        height: 200px;
        justify-content: center;
        cursor: pointer;
        border: 1px solid rgb(240, 225, 225);
        &:hover {
          background-color: #d6dce6;
        }
        h5 {
          margin: 0px;
          margin: 0px;
          text-align: center;
          img {
            height: 60px;
            width: 60px;
            border: 1px solid rgb(231, 225, 225);
            border-radius: 50%;
            box-shadow: 1px 2px 9px rgb(202, 189, 189);
          }
        }
      }
    }
    .page_box {
      @include box-common;
      @include box_property;
      @include box_v_center;
      margin-bottom: 10px;
      div {
        p {
          color: $light;
        }
      }
    }
    .problems-title {
      justify-content: center;
      border: 1px solid rgb(199, 222, 230);
      div {
        text-align: center;
        h3 {
          color: #012970;
          img {
            height: 30px;
            width: auto;
            vertical-align: -8px;
            margin-right: 8px;
            border: 1px solid rgb(168, 147, 147);
            border-radius: 40%;
          }
        }
      }
    }
    .page_title {
      @include box-common;
      @include box_property;
      @include box_v_center;
      button {
        border-radius: 6px;
        font-size: 13px;
        //color: rgb(187, 74, 46);
        i {
          margin-right: 5px;
        }
        // &:hover{
        //     @include title_btn;
        // }
      }
      .btn-home {
        color: rgb(76, 76, 138);
        border: 1px solid rgb(210, 210, 230);
        &:hover {
          background-color: rgb(162, 162, 209);
          color: $white;
        }
      }
      .btn-new {
        color: rgb(75, 155, 56);
        border: 1px solid rgb(201, 221, 196);
        &:hover {
          background-color: rgb(150, 199, 137);
          color: $white;
        }
      }
      .btn-unsolved {
        color: rgb(179, 88, 72);
        border: 1px solid rgb(224, 206, 204);
        &:hover {
          background-color: rgb(211, 141, 133);
          color: $white;
        }
      }
      .active {
        @include title_btn;
      }
    }
    .content-box {
      @include box-common;
      @include box_property;
      margin-top: 8px;
      .title {
        border-bottom: 1px solid rgb(233, 226, 226);
      }
      .text-normal {
        line-height: 26px;
        font-size: 15px;
        padding: 10px 5px;
      }
      .list {
        div {
          padding: 8px;
          cursor: pointer;
          &:hover {
            img {
              border: 1px solid lightgray;
            }
          }
        }
        div:nth-child(1) {
          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
          }
        }
        div:nth-child(2) {
          p {
            font-size: 13px;
            color: $light;
            button {
              color: $light;
            }
          }
          a {
            color: rgb(44, 42, 42);
            h4 {
              color: rgb(44, 42, 42);
            }
          }
        }
      }
    }
  }
}

.profile-problems {
  div {
    div:nth-child(1) {
      flex: 10;
    }
    div:nth-child(2) {
      flex: 90;
    }
  }
}

.login {
  height: 100vh;
  @include box_v_center();
  justify-content: center;
  @media only screen and (max-width: 600px) {
    display: block;
    align-items: top;
    margin-top: 60px;
    padding: 8px;
  }
  div {
    .img {
      text-align: center;
      img {
        height: 50px;
        width: auto;
      }
    }

    .login_box {
      background-color: $white;
      margin: auto;
      width: 380px;
      padding: 10px;
      @include box_property();
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      h1 {
        border-bottom: 1px solid rgb(231, 227, 227);
        padding: 8px 0;
        color: $light;
      }
      .input_btn {
        text-align: right;
      }
    }
    .other_links {
      p {
        padding: 8px;
        .forgotpas {
          color: rgb(175, 73, 73);
          font-size: 13px;
          &:hover {
            text-decoration: underline;
          }
        }
        .signup_link {
          color: rgb(15, 151, 72);
          margin-right: 10px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@mixin center_img {
  text-align: center;
  margin: 10px 5px;
  border: 1px solid rgb(215, 222, 224);
  border-radius: 6px;
  padding: 8px;
}
.center_img {
  @include center_img();
  img {
    height: 70px;
    width: auto;
    border: 1px solid lightgray;
    border-radius: 50%;
  }
}

.center_img_none {
  @include center_img();
  img {
    height: 70px;
    width: auto;
  }
}

.topic_box_head {
  background-color: rgb(213, 221, 231) !important;
  border-left: 4px solid rgb(116, 181, 224);
  border-right: 4px solid rgb(116, 181, 224);
  border-top: 1px solid rgb(116, 181, 224);
}

.topic_box {
  flex-wrap: wrap;

  div:nth-child(1) {
    padding: 5px;
    img {
      height: 80px;
    }
  }
  div:nth-child(2) {
    display: flex;
    align-items: center;
    div {
      h1,
      p {
        margin-left: 10px;
      }
      h1 {
        color: rgb(77, 88, 124);
      }
    }
  }
}

.topic_list_box {
  border: 1px solid rgb(205, 220, 238);
  border-radius: 8px;
  margin: 8px 3px;
  box-shadow: 1px 2px 8px rgb(191, 210, 226);
  &:hover {
    background-color: rgb(222, 226, 233);
  }
  cursor: pointer;
  flex-wrap: wrap;
  div:nth-child(1) {
    flex: 20%;
    div {
      text-align: center;
      padding: 8px;
      img {
        border-radius: 50%;
        height: 80px;
        width: auto;
      }
    }
  }
  div:nth-child(2) {
    flex: 60%;
    display: flex;
    align-items: center;
    padding: 8px;
    div {
      a {
        color: rgb(41, 63, 88);
        &:hover {
          color: rgb(95, 119, 170);
        }
      }
      p {
        margin-left: 0px;
        font-size: 13px;
        color: $light;
      }
    }
  }
  div:nth-child(3) {
    flex: 20%;
    display: flex;
    align-items: center;
    div {
      display: flex;
      justify-content: center;
      button {
        font-size: 18px;
        background-color: rgb(100, 136, 170);
        color: $white;
        border-radius: 6px;
        box-shadow: 1px 2px 8px rgb(158, 168, 190);
        &:hover {
          background-color: rgb(77, 99, 148);
        }
      }
    }
  }
}

.search-ask-box {
  margin: auto;
  button {
    font-size: 19px;
    border: 1px solid rgb(223, 222, 211);
    border-radius: 8px;
    background-color: rgb(238, 233, 216);
    color: rgb(158, 154, 104);
    &:hover {
      background-color: rgb(231, 215, 185);
      color: rgb(250, 248, 244);
    }
  }
}

@mixin ques_users {
  p {
    a {
      color: $light;
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      height: 30px;
      width: 30px;
      border: 1px solid rgb(202, 186, 186);
      border-radius: 50%;
      vertical-align: -8px;
    }
  }
}

.ques_box {
  flex: 100%;
  @include ques_users();
  div:nth-child(2) {
    padding: 6px 3px;
  }
  div:nth-child(3) {
    padding: 6px 3px;
  }
}

.answer_box {
  border-left: 4px solid rgb(176, 176, 207);
  padding-left: 15px;
  margin: 32px 3px;
  @include ques_users();
  div:nth-child(2) {
    margin: 9px 3px;
  }
  div:nth-child(3) {
    //border-top: 1px solid rgb(231, 224, 224);
    //border-bottom: 1px solid rgb(231, 224, 224);
    p {
      color: rgb(219, 177, 177);
      i {
        margin-left: 10px;
      }
    }
  }
}

.please-login {
  text-align: center;
  padding: 10px 5px;
  margin: 10px 3px;
  border: 1px solid rgb(201, 201, 218);
  border-radius: 8px;
  background-color: rgb(210, 210, 219);
  color: rgb(80, 80, 116);
  button {
    border-radius: 8px;
    background-color: rgb(52, 52, 145);
    color: $white;
    &:hover {
      background-color: rgb(97, 97, 153);
    }
  }
}

.cont-grid {
  margin: auto;
  //border: 1px solid red;
  display: flex;
  div:nth-child(1) {
    flex: 70%;
    @include pad_8();
  }
  #rightbar_cont {
    flex: 30%;
    @include pad_8();
    @media only screen and (max-width: 1127px) {
      position: fixed;
      right: -260px;
      top: 56px;
      width: 260px;
      height: 100%;
      background-color: $white;
    }
    div {
      @include box_property();
    }
  }
}

#right_sidebar {
  display: none;
  padding-right: 10px;
  @media only screen and (max-width: 1127px) {
    display: block;
  }
}
#right_logo {
  display: block;
  @media only screen and (max-width: 1127px) {
    display: none;
  }
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  div:nth-child(1) {
    display: none;
  }
  div {
    background-color: rgb(225, 232, 245);
    border: 1px solid rgb(177, 177, 184);
    margin: 3px;
    flex: 25%;
    height: 200px;
    text-align: center;
    padding: 8px 3px;
    border-radius: 6px;
    &:hover {
      background-color: rgb(70, 139, 204);
      box-shadow: 2px 3px 3px rgb(184, 184, 207);
      a {
        color: $white;
      }
    }
    a {
      color: rgb(31, 84, 146);
      img {
        height: 100px;
        width: auto;
        border-radius: 6px;
      }
      p {
        font-size: 13px;
      }
    }
  }
}

.add-docs-modal {
  border: 1px solid rgb(216, 207, 207);
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgb(184, 171, 171);
  .modal-head {
    padding: 8px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
  }
  .modal-content {
    padding: 8px;
  }
  .modal-foot {
    text-align: right;
    padding: 8px;
  }
}

.docs-view-cont {
  display: flex;
  flex-direction: column;

  .docs-pag {
    display: flex;
    width: 100%;
    //border: 1px solid red;
    div:nth-child(2) {
      text-align: left;
      flex: 23%;
      button {
        @include pag-btn();
      }
    }
    div:nth-child(3) {
      flex: 53%;
      text-align: center;
      button:nth-child(1) {
        background-color: orange;
        border-radius: 6px;
        color: $white;
        &:hover {
          background-color: rgb(238, 207, 149);
        }
      }
      button:nth-child(2) {
        background-color: rgb(207, 60, 60);
        padding: 4px;
        border-radius: 6px;
        font-size: 14px;
        color: $white;
        &:hover {
          background-color: rgb(241, 157, 157);
        }
      }
    }
    div:nth-child(4) {
      flex: 23%;
      text-align: right;
      button {
        @include pag-btn();
      }
    }
  }

  .docs-content {
    padding: 8px;
    width: 100%;
    border-top: 1px solid rgb(231, 226, 226);
    border-bottom: 1px solid rgb(231, 226, 226);
  }
}

.docs-thumb {
  text-align: center;
  img {
    height: 100px;
    width: auto;
    border-radius: 6px;
  }
}
.docs-thumb-name {
  text-align: center;
}
.docs-add-page-btn {
  background-color: rgb(215, 230, 235);
  border-radius: 6px;
  &:hover {
    background-color: rgb(175, 183, 185);
  }
}
.btn-blue {
  background-color: rgb(16, 124, 163);
  border-radius: 6px;
  color: $white;
  &:hover {
    background-color: rgb(115, 164, 177);
  }
}
.right-bar {
  overflow: auto;
  height: 90vh;
}

.add_docs_page {
  flex-direction: column;
  .add_docs_title {
    width: 100%;
  }
  .add_docs_submit {
    text-align: right;
    width: 100%;
  }
}

.cont-textarea {
  img {
    width: 90%;
  }
  div,
  a,
  font,
  span,
  p {
    overflow-x: auto;
    overflow-y: hidden;
    font,
    span {
      word-break: break-all;
    }
  }
  div {
    @media only screen and (max-width: 600px) {
      width: 80vw;
    }
    div {
      overflow-x: auto;
      overflow-y: hidden;
      word-break: break-all;
    }
  }
  ol,
  ul {
    margin-left: 30px;
  }
  p {
    color: black !important;
  }
}

.right-title {
  i {
    color: lightgray;
  }
  color: gray;
}

.vertical-menu-light {
  li {
    i {
      color: lightgray !important;
    }
    a {
      color: gray !important;
    }
  }
}

//------------------------------- CLASSES --------------------------
$warning_bg: #fff3cd;

$warning_color: #9b894d;

$border_light: 1px solid rgb(235, 222, 222);

.text-light {
  color: $light;
}
.text-warning {
  color: $warning_color;
}
.text-danger {
  color: rgb(194, 72, 72);
}
// .text-light, .text-warning

.bo-bottom-light {
  border-bottom: 1px solid rgb(235, 222, 222);
}
// .bo-bottom-light

.warning-bg {
  background-color: $warning_bg;
}
// .warning-bg

.font-xs {
  font-size: 13px;
}
// .font-xs
.align_center {
  text-align: center;
}
.align_right {
  text-align: right;
}
// .align_right .align_center

.cursor_pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: stretch;
}
.flex-basis {
  div {
    flex-basis: 100%;
  }
}
// <div class="flex flex-basis">
//     <div><div>
//     <div><div>
// </div>

.vertical-menu {
  list-style: none;
  margin: 10px 10px 10px 30px;
  li {
    padding: 5px;
    a {
      font-weight: bold;
      color: #012970;
      font-size: 15px;
      &:hover {
        color: #4159f1;
        text-decoration: none;
      }
    }
    i {
      margin-right: 6px;
      color: rgb(100, 100, 160);
    }
  }
  .light {
    a {
      color: gray;
      font-weight: 500;
      &:hover {
        color: gray;
        text-decoration: none;
      }
    }
    i {
      color: rgb(194, 184, 184);
    }
  }
}
// <ul class="vertical-menu">
//     <li><a href="#"><i class="fa-solid fa-gear"></i> First menu</a></li>
//     <li><a href="#"><i class="fa-solid fa-gear"></i> Second menu</a></li>
// </ul>

.no_content_found {
  height: 300px;
  background-color: $white;
  @include box_v_center();
  justify-content: center;
  div {
    text-align: center;
    i {
      font-size: 60px;
      color: rgb(214, 57, 57);
    }
  }
}
// <div class="no_content_found">
//     <div>
//         <i class="fa-solid fa-triangle-exclamation"></i>
//         <h2>Not Found</h2>
//         <p>Sorry! No content found</p>
//     </div>
// </div>

.input_box {
  margin: 12px 0;
  label {
    padding: 5px;
    color: $light;
  }
  input,
  textarea {
    width: 100%;
    border: none;
    background-color: rgb(232, 235, 235);
    padding: 8px;
    border-radius: 6px;
    &:focus {
      outline: 1px solid rgb(226, 223, 223);
    }
  }
}
// <div class="input_box">
//     <label>Password</label>
//     <input type="password" name="password" placeholder="Password" />
// </div>

@mixin btn {
  padding: 4px 6px;
  border-radius: 6px;
}

.btn_md {
  font-size: 16px;
  @include btn();
}

.btn_xs {
  font-size: 13px;
  @include btn();
}

.btn_success {
  background-color: rgb(30, 148, 30);
  color: $white;

  &:hover {
    background-color: rgb(37, 187, 37);
    box-shadow: 3px 2px 3px rgb(169, 207, 169);
  }
}

.btn_warning {
  background-color: rgb(243, 165, 19);
  color: $white;

  &:hover {
    background-color: rgb(245, 193, 96);
    box-shadow: 3px 2px 3px rgb(247, 200, 115);
  }
}

.btn_danger {
  background-color: rgb(231, 40, 40);
  color: $white !important;

  &:hover {
    background-color: rgb(230, 124, 124);
    box-shadow: 3px 2px 3px rgb(182, 59, 59);
  }
}
// <button class="btn_md btn_success">Submit</button>
// <button class="btn_md btn_warning">Submit</button>
// <button class="btn_md btn_danger">Submit</button>

.search_box {
  margin: 18px 5px;
  border-radius: 8px;
  border: 1px solid rgb(230, 224, 224);
  div:nth-child(1) {
    flex: 9;
    //border:none;
    @include box_v_center();
    display: flex;
    border-radius: 8px 0 0 8px;
    form {
      width: 100%;
      border: none;
      input {
        width: 100%;
        border: none;
        padding: 8px;
        &:focus {
          outline: none;
        }
      }
    }
  }
  div:nth-child(2) {
    flex: 1;
    border-left: 1px solid rgb(230, 224, 224);
    @include box_v_center();
    justify-content: center;
    &:hover {
      background-color: #d3d8df;
      cursor: pointer;
      font {
        color: $white;
      }
    }
    font {
      color: #d3d8df;
      font-size: 16px;
    }
  }
}
// <div class="search_box flex" style="width:100%;" >
//     <div>
//         <form id="searchForm" method="post" action="/asking/<?php echo $id; ?>">
//             <input type="text" name="title" placeholder="Search Problems..." id="search" />
//         </form>
//     </div>
//     <div class="searchBtn" style="flex:2;">
//         <font style="color:#9b894d;font-size:14px;"><i class="fa-solid fa-plus"></i> Add</font>
//     </div>
// </div>

.alert {
  padding: 4px;
  border-radius: 6px;
  margin: 3px 5px;
  div {
    overflow: auto;

    p {
      float: left;
      font-size: 13px;
      width: 90%;
    }
    a {
      float: right;
      color: rgb(46, 43, 43);
      padding-right: 5px;
      &:hover {
        color: $white;
      }
    }
  }
}
.alert-danger {
  background-color: #f8d7da;
  border: 1px solid #ecb6b6;
  color: #b83d2f;
}
.alert-success {
  background-color: #d1e7dd;
  border: 1px solid #b0dac7;
  color: #57997b;
}
.alert-warning {
  background-color: $warning_bg;
  border: 1px solid #d8c998;
  color: $warning_color;
}
// <div class="alert alert-danger">
//     <div>
//     <a href="javascript:void(0)" class="close-alert"><i class="fa-solid fa-xmark"></i></a>
//     <p>Alert! This is the alert message. Alert! This is the alert message. Alert! This is the alert message.</p>
//     </div>
// </div>

.textEditor {
  margin: 10px 5px;
  .tools {
    border: $border_light;
    padding: 8px;
    border-radius: 6px;
  }
  .editor {
    border: $border_light;
    padding: 5px 15px;
    margin-top: 8px;
    height: 30vh;
    overflow: auto;
    &:focus {
      outline: none;
    }
    p {
      color: black !important;
    }
  }
}
// <div id="container" class="textEditor" >
//     <div class="tools">
//         <button type="button" onclick="document.execCommand('italic',false,null);" title="Italicize Highlighted Text"><i class="fa-solid fa-italic"></i></button>
// <button type="button" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text"><i class="fa-solid fa-bold"></i></button>
// <button type="button" onclick="document.execCommand( 'underline',false,null);"><i class="fa-solid fa-underline"></i></button>
// <button type="button" onclick="createLink()"><i class="fa-solid fa-link"></i></button>

// <button type="button" onclick="document.execCommand( 'unlink',false,null);"><i class="fa-solid fa-link-slash"></i></button>

// <button type="button" onclick="document.execCommand( 'strikethrough',false,null);"> <i class="fa-solid fa-strikethrough"></i></button>
// <button type="button" onclick="document.execCommand( 'removeFormat',false,null);"><i class="fa-solid fa-text-slash"></i></button>

// <button type="button" onclick="document.execCommand( 'justifyLeft',false,null);"><i class="fas fa-align-left"></i> </button>
// <button type="button" onclick="document.execCommand( 'justifyCenter',false,null);"> <i class='fas fa-align-justify'></i></button>
// <button type="button" onclick="document.execCommand( 'justifyRight',false,null);"> <i class='fas fa-align-right'></i></button>
// <button type="button" onclick="document.execCommand( 'redo',false,null);"> <i class='fas fa-redo'></i></button>
// <button type="button" onclick="document.execCommand( 'undo',false,null);"> <i class='fas fa-undo'></i></button>
// <button type="button" onclick="document.execCommand('insertOrderedList', false, null);"> <i class='fas fa-list-ol'></i></button>
// <button type="button" onclick="document.execCommand('insertUnorderedList',false, null)"> <i class='fas fa-list'></i></button>

// <button type="button" onclick="createCode()"> <i class="fa-solid fa-code"></i></button>
// <button type="button" onclick="createCodeBase()"><i style="font-size:20px;" class="fa-solid fa-file-code"></i></button>

// <input type="color" onchange="chooseColor()" id="myColor">

// <!-- font size start -->
// <select id="fontSize" onclick="changeSize()">
//     <option value="1">1</option>
//     <option value="2">2</option>
//     <option value="3">3</option>
//     <option value="4">4</option>
//     <option value="5">5</option>
//     <option value="6">6</option>
//     <option value="7">7</option>
//     <option value="8">8</option>
// </select>
// <!-- font size end -->
// <button type="button" onclick="insertImg()"> Image</button>
// <button type="button" onclick="insertVideo()"> Video</button>
// <button type="button" onclick="heading()"> Heading</button>
//     </div>

//     <div class="editor" id="editor1" contenteditable="true" data-placeholder="Explain your problems here..."></div>

// </div>

.modal {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  .modal-xs {
    //width: 40%;
    @media only screen and (max-width: 600px) {
      width: 98%;
    }
    @media only screen and (min-width: 600px) {
      width: 80%;
    }
    @media only screen and (min-width: 900px) {
      width: 60%;
    }
    @media only screen and (min-width: 1200px) {
      width: 40%;
    }
  }
  .modal-section {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    div {
      background-color: $white;
      .modal-head {
        .modal-close,
        .edit-modal-close {
          float: right;
          background-color: rgb(124, 99, 99);
          border-radius: 40%;
          color: $white;
          &:hover {
            background-color: rgb(204, 134, 134);
            color: red;
          }
        }
      }
    }
  }
}
// <div id="addDocs" class="modal">
//     <div class="modal-section">
//         <div class="modal-xs">

//             <div class="modal-head">
//                 <button class="modal-close"><i class="fa-solid fa-xmark"></i></button>
//             </div>
//             <div class="modal-content">
//                 <h1>MODAL CONTENT HERE</h1>
//             </div>
//             <div class="modal-foot">

//             </div>

//         </div>
//     </div>
// </div>
